<!DOCTYPE html>
<html lang="es-PY">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva en el Restaurante</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex flex-col justify-center items-center">
    <div class="max-w-md w-full px-4 py-8 bg-white shadow-md rounded-md">
        <h1 class="text-2xl font-bold mb-4">Reservar en el Restaurante</h1>
        <form action="/" method="POST">
            <div class="mb-4">
                <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha:</label>
                <input type="date" name="fecha" id="fecha" required class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="mb-4">
                <label for="hora" class="block text-sm font-medium text-gray-700">Hora:</label>
                <select name="hora" id="hora" required class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    {% for hora in horarios %}
                        <option value="{{ hora }}">{{ hora }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="cantidad_personas" class="block text-sm font-medium text-gray-700">Cantidad de Personas:</label>
                <input type="number" name="cantidad_personas" id="cantidad_personas" required class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="text-center mb-4">
                <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Reservar</button>
            </div>
        </form>
        <button href="/reservas" type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"><a href="/reservas">ver reservas</a></button>
    </div>
</body>
</html>
